---
import { HOME, SITE, SOCIALS } from '@consts';
import Layout from '@layouts/Layout.astro';

import ArrowCard from '@components/ArrowCard.astro';
import Container from '@components/Container.astro';
import Link from '@components/Link.astro';

import type { Blog, Project } from '@types';
import { getCollection } from 'astro:content';

const blogList: Blog[] = ((await getCollection('blog')) as Blog[])
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projectList: Project[] = ((await getCollection('projects')) as Project[])
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <span class="mb-2 space-y-2">
              <p class="text-bold text-xl">
                Hi 👋🏻 I'm GengarNeko, and this is my blog.
              </p>
              <p>
                As a frontend engineer, I share my experiences and insights
                through writing.
              </p>
            </span>
            <span class="animate space-y-2">
              <p>
                Here you'll find my learnings about React, engineering
                practices, project configurations, and point cloud annotation
                solutions.
              </p>
              <p>
                I also explore creative coding topics like Shaders, React Three
                Fiber, and Framer Motion.
              </p>
              <p>
                I'm passionate about both the technical aspects of web
                development and 3D visualization technologies.
              </p>
            </span>
          </article>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Pinned Projects
            </h2>
            <Link underline href="/projects">see more</Link>
          </div>
          <ul class="not-prose grid grid-cols-1 gap-4 sm:grid-cols-2">
            {
              projectList.map((project: Project) => (
                <li>
                  <ArrowCard entry={project} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Pinned posts
            </h2>
            <Link underline href="/blog"> see more</Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blogList.map((post: Blog) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">
            Let's Connect
          </h2>
          <article>
            <p>
              If you want to get in touch with me about something or just to say
              hi, reach out on social media or send me an email.
            </p>
          </article>
          <ul class="not-prose flex flex-wrap gap-2">
            {
              SOCIALS.map((SOCIAL) => (
                <li class="flex gap-x-2 text-nowrap">
                  <Link
                    external
                    underline
                    href={SOCIAL.HREF}
                    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                  {'/'}
                </li>
              ))
            }
            <li class="line-clamp-1">
              <Link
                underline
                href={`mailto:${SITE.EMAIL}`}
                aria-label={`Email ${SITE.TITLE}`}
              >
                <!-- {SITE.EMAIL} -->
                Email
              </Link>
            </li>
          </ul>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
